<%- include('partials/header') %>
<%- include('partials/faq') %>
<section class="bg-light p-4 contact-section" id="contact_us" name="contact_us" >
  <div class="container ">
    
    <div class="row">
      <div class="col-lx-12">
            <!--h2 class="title-icon title-icon-2 mb-4 mt-4"><span class="icon icon-default mercury-icon-post"></span><span>Contact <span class="text-light"> Us</span></span></h2-->
            <!--link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"-->
            
            <h5 class="title-icon title-icon-2 mb-4 mt-4 "> <span class="text-light mx-auto">Still can't find an answer? Leave us a message and we will get back to you.</span></h5>
            <div class="contact__wrapper shadow-lg-contact">
            <div class="row">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
            <h3 class="contact-title mb-5">Get in Touch</h3>
            <ul class="contact-info__list list-style--none position-relative z-index-101">
            <li class="mb-4 pl-4">
            <span class="position-absolute"><b class="fas fa-envelope "></b></span> <a href="/cdn-cgi/l/email-protection" class="__cf_email__ contact-title" data-cfemail="f4878184849b8680b4969b9b8090918dda979b99">info@mosalapro.com</a>
            </li>
            <li class="mb-4 pl-4">
            <span class="position-absolute"><b class="fas fa-phone"></b></span><a class="text-link text-white" href="tel:#">+1 (800) 123 1234</a>
            </li>
            <li class="mb-4 pl-4">
            <span class="position-absolute"><b class="fas fa-map-marker"></b></span> MosalaPro LLC.
            <br> 30 N Gould St, Ste N Sheridan <br> WY 82801 USA.
            <div class="mt-3">
            <a href="https://maps.google.com/?q=30 N Gould St, Ste N Sheridan, WY 82801" target="_blank" class="text-link link--right-icon text-white">Get directions  <b class="fa fa-chevron-circle-right ml-1 mt-1"></b></a>
            </div>
            </li>
            </ul>
            <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:0; right: 10px">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="444px" height="626px">
            <defs>
            <linearGradient id="PSgrad_1" x1="0%" x2="81.915%" y1="57.358%" y2="0%">
            <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
            <stop offset="100%" stop-color="rgb(122,177,88)" stop-opacity="0"></stop>
            </linearGradient>
            </defs>
            <path fill-rule="evenodd" opacity="0.302" fill="rgb(122,177,88)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
            <path fill="url(#PSgrad_1)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
            </svg>
             </figure>
            </div>
            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
            <form action="#" class="contact-form form-validate" novalidate="novalidate">
            <div class="row">
            <div class="col-sm-6 mb-3">
            <div class="form-group">
            <label class="required-field" for="firstName">First Name</label>
            <% if(usr) {%>
                <input type="text" class="form-control" id="contactFirstName" name="contactFirstName" value="<%=usr.firstName%>" readonly>
            <% }else {%>
              <input type="text" class="form-control" id="contactFirstName" name="contactFirstName" placeholder="Enter first name" required>
              <%  } %>
            </div>
            </div>
            <div class="col-sm-6 mb-3">
            <div class="form-group">
            <label for="lastName">Last Name</label>
            <% if(usr) {%>
              <input type="text" class="form-control" id="contactLastName" name="contactLastName" value="<%=usr.lastName%>" readonly>
            <% }else {%>
              <input type="text" class="form-control" id="contactLastName" name="contactLastName" placeholder="Enter last name" required>
              <%  } %>
            </div>
            </div>
            <div class="col-sm-6 mb-3">
            <div class="form-group">
            <label class="required-field" for="email">Email</label>
            <% if(usr) {%>
              <input type="text" class="form-control" id="contactEmail" name="contactEmail" value="<%=usr.email%>" readonly>
            <% }else {%>
              <input type="text" class="form-control" id="contactEmail" name="contactEmail" placeholder="Enter email" required>
            <%  } %>
            </div>
            </div>
            <div class="col-sm-6 mb-3">
            <div class="form-group">
            <label for="phone">Phone Number</label>
            <% if(usr) {%>
              <input type="text" class="form-control" id="contactPhone" name="contactPhone" value="<%=usr.phone%>" readonly>
            <% }else {%>
              <input type="text" class="form-control" id="contactPhone" name="contactPhone" placeholder="Enter phone number">
            <%  } %>
            </div>
            </div>
            <div class="col-sm-12 mb-3">
            <div class="form-group">
            <label class="required-field" for="message">How can we help?</label>
            <textarea class="form-control" id="message" name="message" rows="4" placeholder="Hi there, I would like to....."></textarea>
            </div>
            </div>
            <div class="col-sm-12 mb-3">
            <input type="submit"  name="submit" class="btn button-primary btn-lg w-100 hover-lift-light mt-4-ver" value="Submit">
            <!--button type="submit" name="submit" class="btn button-primary btn-block">Submit</button-->
            </div>
            </div>
            </form>
            </div>
            
            </div>
            </div>
            </div>
          </div>
      </div>
  </section>

      <%- include('partials/footer') %>