
<%- include('partials/header') %>
<section class="bg-light h-100 p-4 ">
    <div class="container pt-4">
          <div class="row">
            <div class="col pt-4">
              <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/service-requests">Service requests</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%=job.requestTitle%></li>
                </ol>
            </nav>
        
            <div class="row">
                 
                <div class="col-lg-8 col-md-12 col-sm-12 col">
                  <div class="container shadow-sm p-4 bg-white rounded mb-4">
                    <div class="d-flex justify-content-between w-100 p-4">
                      <h5>Service request: <%=job.requestTitle%></h5>
                      <span id="booking-msg"></span>
                    </div>

                    <div class="modal-container-job px-4">
                      <input class="d-none" id="jobId" value="<%=job._id%>">
                      <input class="d-none" id="userName" value="<%=job.username%>">
                      <span id="mess" class="error_message"></span>
                      <div class="row  mt-2">
                          <div class="col">
                              <span class="job-details pl-2 mt-4"><b>Category:</b> <%=job.category%></span> 
                          </div>
                      </div>
                      <div class="row mt-2">
                          <div class="col">
                              <span class="job-details pl-2 mt-4"><b>Budget:</b> $ <%=job.budget%></span>
                          </div>
                      </div>

                      <div class="row mt-2">
                          <div class="col">
                              <span class="job-details pl-2 mt-4"><b>Deadline:</b> <%=job.deadline%></span>
                          </div>
                      </div>

                      <div class="row mt-2">
                          <div class="col">
                              <span class="job-details pl-2"><b>Description: </b><%=job.requestDescription%></span>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <h6 class="border-bottom mb-3">Files</h6>
                              
                          </div>
                      </div>
                        <div class="row">
                          <% if (job.files.length == 0){ %>
                            <div class="col">
                                <span class="job-details pl-2"> This service request have no attachments.</span>
                            </div>
                        <% } else { %>
                            <% let j = 0; job.files.forEach(file=>{ j++; %>

                            <!--span class="d-none" id="file-"><%= file%></a></p-->
                            <div title="Download file <%=j%>" data-toggle="tooltip" data-placement="bottom"  class=" col-sm-4 col-lg-2 tooltips cursor mb-4" >
                            <!--span class="job-details"><%=job.files.length%></span-->
                                <!-- Post Modern-->
                                <div class="d-flex justify-content-center px-4 px-auto" onClick="downloadFile('<%= file%>')" >
                                    <b class="fa fa-file-text-o fa-5x mb-1 file-icon" aria-hidden="true"></b>
                                    <span class="post-modern-time">  <%=job.requestTitle%>'s file <%=j%></span>
                                    
                                </div>
                                
                              </div>

                            <% }); } %>
                      </div>
                      
                      <div class="row border-bottom p-3 mt-1">
                          
                         
                          </div>
                          <p class="post-modern-text mt-1 mb-4">Please read the documents carefully to make sure to meet the requirements of this request.</p>
                      </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button class="btn-job btn-primary-job" onClick="applyForJob()">Apply for service request</button>
                            <a href="#quotationModalCta" data-toggle="modal" data-caption-animate="fadeInUp"><button class="btn-job btn-primary-job-inv-blue tooltips ml-3" title="If you are not satisfied with the budget, you can provide your quote for this request." 
                            data-toggle="tooltip" data-placement="top" 
                             >Provide a quote</button></a>
                             <a href="/service-requests"><button class="btn-job btn-primary-job-inv ml-3" >Back</button></a>
                        </div>
                    </div>
              </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col">
          <div class="container shadow-sm mb-5 pb-1 bg-white rounded ">
            <div class="row">
              <div class="w-100 d-flex justify-content-between align-items-center border-bottom border-dark p-3">
                <h6>Service requested by</h6>
              </div>
            </div>
              <div class="d-flex justify-content-center mt-2 p-4">
                    <div class="thumb-lg member-thumb mr-4"><img src="/photo/<%= owner.photo %>" alt="profile-image"></div>
                    <span class="my-auto text-large"><%= owner.firstName %> <%= owner.lastName %> <br> <span><%= owner.username %></span></span>
                    
              
              </div>

            </div>
            </div>
          </div>
        </div>
    </div>
    </div>
</section>

<%- include('partials/quotationModalCta') %>

<script src="js/jobApplication.js"></script>

  <%- include('partials/footer') %>